mat-stepper {
  background-color: rgba($color: #000000, $alpha: 0.1);
}
.form-fields,
.form-fields-invoice {
  background-color: white;
}
.form-fields {
  width: 60%;
  padding: 1rem;
  transform: translate(30%, 0%);

  mat-form-field {
    width: 100%;
  }

  @media only screen and (max-width: 880px) {
    width: 95%;
    transform: translate(0, 0);
  }
}
.form-fields-invoice {
  width: 60%;
  padding: 1rem;
  transform: translate(30%, 0%);
  .dates {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 45%;
    }
  }
  mat-card {
    margin: 2rem;
  }

  mat-form-field {
    width: 100%;
  }

  .add-button {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .qtyAmt {
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 45%;
    }
  }

  @media only screen and (max-width: 880px) {
    width: 100%;
    transform: translate(0, 0);
    width: 95%;

    mat-card {
      margin: 1rem;
      margin-left: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.nextButton,
.nextPrevButtons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 1rem;
  transform: translate(30%, 0%);
  margin-top: 2rem;
}
.nextButton {
  flex-direction: row-reverse;
}

.seller {
  margin: 2rem;
  .sellerSummary {
    margin: 2rem;
  }
}

.customerSummary {
  display: flex;
  margin: 2rem;

  .customer,
  .invoice {
    width: 45%;
    margin: 2rem;
  }
}
.tableContainer {
  margin: 2rem;
  table {
    width: 100%;

    .itName {
      width: 50%;
    }
  }
  .deductions {
    display: flex;
    flex-direction: row-reverse;

    .container {
      width: 37%;
      margin: 1rem;

      div {
        width: 100%;
        display: flex;
        padding: 0.5rem 0;

        .header {
          width: 50%;
        }
      }

      @media only screen and(max-width:880px) {
        width: 100%;
      }
    }
  }
}
