<mat-stepper
  linear="true"
  #stepper
  [orientation]="(stepperOrientation | async)!"
  (selectionChange)="checkStep($event)"
>
  <mat-step [stepControl]="sellerDetails">
    <form [formGroup]="sellerDetails">
      <ng-template matStepLabel>Your Details</ng-template>

      <div class="form-fields">
        <h1 class="mat-h1">Seller Details</h1>
        <!-- Name -->
        <mat-form-field appearance="legacy">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="name"
            required
          />
          <div
            *ngIf="
              sellerDetails.get('name')?.touched &&
              sellerDetails.get('name')?.errors?.['required']
            "
          >
            <mat-error> Full name is required. </mat-error>
          </div>
        </mat-form-field>

        <!-- Address -->
        <mat-form-field appearance="legacy">
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            required
          />
          <div
            *ngIf="
              sellerDetails.get('address')?.touched &&
              sellerDetails.get('address')?.errors?.['required']
            "
          >
            <mat-error> Address is required. </mat-error>
          </div>
        </mat-form-field>

        <!-- Phone -->
        <mat-form-field appearance="legacy">
          <mat-label>Phone</mat-label>
          <input
            matInput
            placeholder="Phone"
            formControlName="phone"
            required
          />
          <div
            *ngIf="
              sellerDetails.get('phone')?.touched &&
              sellerDetails.get('phone')?.errors?.['required']
            "
          >
            <mat-error> Phone Number is required. </mat-error>
          </div>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
          <div
            *ngIf="
              sellerDetails.get('email')?.touched &&
              sellerDetails.get('email')?.errors?.['required']
            "
          >
            <mat-error> Email is required. </mat-error>
          </div>
        </mat-form-field>
      </div>
      <div class="nextButton">
        <button
          [disabled]="!sellerDetails.valid"
          mat-raised-button
          matStepperNext
        >
          Next
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="customerDetails" label="Customer's Details">
    <form [formGroup]="customerDetails">
      <ng-template matStepLabel>Customer's Details</ng-template>

      <div class="form-fields">
        <h1 class="mat-h1">Customer Details</h1>
        <!-- Customer Name -->
        <mat-form-field appearance="legacy">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="name"
            required
          />
          <div
            *ngIf="
              customerDetails.get('name')?.touched &&
              customerDetails.get('name')?.errors?.['required']
            "
          >
            <mat-error> Customer's full name is required. </mat-error>
          </div>
        </mat-form-field>

        <!-- Address -->
        <mat-form-field appearance="legacy">
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            required
          />
          <div
            *ngIf="
              customerDetails.get('address')?.touched &&
              customerDetails.get('address')?.errors?.['required']
            "
          >
            <mat-error> Customer's address is required. </mat-error>
          </div>
        </mat-form-field>

        <!-- Phone -->
        <mat-form-field appearance="legacy">
          <mat-label>Phone</mat-label>
          <input
            matInput
            placeholder="Phone"
            formControlName="phone"
            required
          />
          <div
            *ngIf="
              customerDetails.get('phone')?.touched &&
              customerDetails.get('phone')?.errors?.['required']
            "
          >
            <mat-error> Customer's phone is required. </mat-error>
          </div>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            required
          />
          <div
            *ngIf="
              customerDetails.get('email')?.touched &&
              customerDetails.get('email')?.errors?.['required']
            "
          >
            <mat-error> Customer's email is required. </mat-error>
          </div>
        </mat-form-field>
      </div>

      <div class="nextPrevButtons">
        <button mat-raised-button matStepperPrevious>
          <mat-icon>keyboard_backspace</mat-icon>
          Back
        </button>
        <button
          [disabled]="!customerDetails.valid"
          mat-raised-button
          matStepperNext
        >
          Next
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>

  <!-- Invoice details -->
  <mat-step [stepControl]="invoiceDetails" label="Invoice Details">
    <form [formGroup]="invoiceDetails">
      <ng-template matStepLabel>Invoice Details</ng-template>

      <div class="form-fields-invoice">
        <h1 class="mat-h1">Invoice Details</h1>
        <div class="dates">
          <!-- Date -->
          <mat-form-field appearance="legacy">
            <mat-label>Invoice Date</mat-label>
            <input
              matInput
              [matDatepicker]="datePicker"
              formControlName="date"
              required
            />
            <div
              *ngIf="
              invoiceDetails.get('date')?.touched &&
              invoiceDetails.get('date')?.errors?.['required']
            "
            >
              <mat-error> Invoice date is required. </mat-error>
            </div>
            <mat-datepicker-toggle
              matSuffix
              [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>

          <!-- Payment Due -->
          <mat-form-field appearance="legacy">
            <mat-label>Payment Due Date</mat-label>
            <input
              matInput
              matInput
              [matDatepicker]="duePicker"
              formControlName="paymentDue"
              required
            />
            <div
              *ngIf="
              invoiceDetails.get('paymentDue')?.touched &&
              invoiceDetails.get('paymentDue')?.errors?.['required']
            "
            >
              <mat-error> Invoice payment due date is required. </mat-error>
            </div>
            <mat-datepicker-toggle
              matSuffix
              [for]="duePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #duePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Items -->
        <div formArrayName="items">
          <h3 class="mat-h2">Invoice Items</h3>
          <mat-card
            class="mat-elevation-z8"
            *ngFor="let item of items.controls; let i = index"
          >
            <mat-card-content [formGroupName]="i" class="addItemContainer">
              <div class="header">
                <span>Amount</span>
                <button
                  (click)="removeItem(i)"
                  matTooltip="Delete this Item"
                  matTooltipPosition="left"
                  mat-mini-fab
                  color="warn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <mat-form-field class="" appearance="legacy">
                <mat-label>Item Name</mat-label>
                <input
                  matInput
                  placeholder="Item Name"
                  formControlName="itemName"
                  required
                />
              </mat-form-field>

              <div class="qtyAmt">
                <mat-form-field class="" appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input
                    matInput
                    placeholder="Quantity"
                    formControlName="quantity"
                    type="number"
                    required
                  />
                </mat-form-field>

                <mat-form-field class="" appearance="outline">
                  <mat-label>Price per Unit</mat-label>
                  <input
                    matInput
                    placeholder="Price per Unit"
                    formControlName="pricePerUnit"
                    type="number"
                    required
                  />
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>

          <div class="add-button">
            <button
              class="mat-elevation-z4"
              mat-raised-button
              (click)="addItem()"
            >
              <mat-icon>add</mat-icon>
              Add another item
            </button>
          </div>
        </div>
        <div class="qtyAmt">
          <mat-form-field class="" appearance="outline">
            <mat-label>Tax (%)</mat-label>
            <input
              type="number"
              matInput
              placeholder="Tax"
              formControlName="tax"
              required
            />
            <div
              *ngIf="
              invoiceDetails.get('tax')?.touched &&
              invoiceDetails.get('tax')?.errors?.['required']
            "
            >
              <mat-error> Tax percentage is required. </mat-error>
            </div>
          </mat-form-field>

          <mat-form-field class="" appearance="outline">
            <mat-label>Fees/Discount</mat-label>
            <input
              type="number"
              matInput
              placeholder="Discount"
              formControlName="discount"
              required
            />
            <div
              *ngIf="
              invoiceDetails.get('discount')?.touched &&
              invoiceDetails.get('discount')?.errors?.['required']
            "
            >
              <mat-error> Discount amount is required. </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="nextPrevButtons">
        <button mat-raised-button matStepperPrevious>
          <mat-icon>keyboard_backspace</mat-icon>
          Back
        </button>
        <button
          [disabled]="!invoiceDetails.valid"
          (click)="showForm()"
          mat-raised-button
          matStepperNext
        >
          Next
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>
    <div class="summary-field" *ngIf="fullDetails">
      <mat-card class="seller">
        <h1 class="mat-h1">Invoice Summary</h1>
        <div class="sellerSummary">
          <h2 class="mat-h2">Seller Details</h2>
          <p>{{ fullDetails.seller.name }}</p>
          <p>{{ fullDetails.seller.address }}</p>
          <p>{{ fullDetails.seller.phone }}</p>
          <p>{{ fullDetails.seller.email }}</p>
        </div>
      </mat-card>
      <mat-card class="customerSummary">
        <div class="customer">
          <h2 class="mat-h2">Bill to:</h2>
          <p>{{ fullDetails.customer.name }}</p>
          <p>{{ fullDetails.customer.address }}</p>
          <p>{{ fullDetails.customer.phone }}</p>
          <p>{{ fullDetails.customer.email }}</p>
        </div>
        <div class="invoice">
          <h2 class="mat-h2">Invoice Details</h2>

          <p></p>
          <p>
            <b class="mat-body-2">Invoice number: </b
            >{{ fullDetails.invoice.number.toFixed(0) }}
          </p>
          <p>
            <b class="mat-body-2">Invoice date: </b
            >{{ fullDetails.invoice.date | date }}
          </p>
          <p>
            <b class="mat-body-2">Payment due: </b
            >{{ fullDetails.invoice.paymentDue | date }}
          </p>
        </div>
      </mat-card>
      <div class="tableContainer">
        <table
          mat-table
          [dataSource]="fullDetails.invoice.items"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="item">
            <th class="itName" mat-header-cell *matHeaderCellDef>Item</th>
            <td class="itName" mat-cell *matCellDef="let element">
              {{ element.itemName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
          </ng-container>

          <ng-container matColumnDef="pricePerUnit">
            <th mat-header-cell *matHeaderCellDef>Price per unit</th>
            <td mat-cell *matCellDef="let element">
              ${{ element.pricePerUnit.toFixed(2) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">
              ${{ element.totalItem.toFixed(2) }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="invoiceColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: invoiceColumns"></tr>
        </table>
        <div class="deductions">
          <div class="container">
            <div>
              <span class="header"><b class="subheading-2">Subtotal</b></span>
              <span> ${{ fullDetails.amount }} </span>
            </div>
            <div>
              <span class="header"
                ><b>Tax {{ fullDetails.invoice.tax }}%</b></span
              >
              <span>
                ${{
                  (
                    (fullDetails.invoice.tax / 100) *
                    fullDetails.amount
                  ).toFixed(2)
                }}
              </span>
            </div>

            <div>
              <span class="header"><b>Fees/discounts</b></span>
              <span> ${{ fullDetails.invoice.discount.toFixed(2) }} </span>
            </div>
            <div>
              <span class="header"><b>TOTAL</b></span>
              <span>
                <b>
                  ${{
                    (
                      fullDetails.amount +
                      (fullDetails.invoice.tax / 100) * fullDetails.amount -
                      fullDetails.invoice.discount
                    ).toFixed(2)
                  }}
                </b>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nextPrevButtons">
      <button mat-raised-button matStepperPrevious (click)="clearInvoice()">
        <mat-icon>keyboard_backspace</mat-icon>
        Back
      </button>
      <button (click)="showForm()" matStepperNext mat-raised-button>
        Print Invoice
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>PDF</ng-template>
    <div *ngIf="finalForm | async">
      <app-gen-pdf [invoice]="invDetailsChild"></app-gen-pdf>
    </div>
  </mat-step>
</mat-stepper>
